body {
	position: relative;
	margin: 0;
	padding: 0;
	background-image: url('../images/thirsty-turf-irrigation-27062-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;		
}

.zoomed-bg-invis {
	display: none;
}

.zoomed-bg {	
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(39, 38, 38, .95);
	z-index: 2;	
}

.zoomed-bg i {	
	position: absolute;
	top: 1%;
	left: 1%;	
	font-size: 3em;
	color: white;
	cursor: pointer;
	transition: all .5s;
	transition-timing-function: ease-in-out;
}

.zoomed-bg i:hover {
	transform: rotate(360deg);
	color: #BCBCBC;
}

.zoomed-image {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 70%;
	height: 70%;
	position: fixed;
	top: 15%;
	left: 15%;	
	border-radius: 50px;
	box-shadow: 0 0 50px #CDCDCD;
}

.zoomed-image-img1 {
	background: url("../images/home/byhuyen-406544-unsplash.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.zoomed-image-img2 {
	background-image: url("../images/home/joshua-ness-109299-unsplash.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.zoomed-image-img3 {
	background-image: url("../images/home/naomi-hebert-188443-unsplash.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.zoomed-image-img4 {
	background-image: url("../images/home/nick-karvounis-592488-unsplash.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.zoomed-text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 25%;	
	background-color: rgba(39, 38, 38, .75);
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	color: white;
	font-size: 1.5em;
	opacity: 0;
	transition: all .5s;
}

.zoomed-image:hover .zoomed-text {
	opacity: 1;
}

#navbar {	
	margin: 0;	
	width: 100%;
	height: 5em;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	transition: all .5s;
}

.nav-drop-invis{
	display: none;
	height: 0;
}

.drop-links-invis{
	display: none;
	height: 0;
}

.navbar-full {	
	background: #313030;
	z-index: 1;	
}

.navbar-trans {
	background: #313030;
	opacity: .8;
}

#home-link {
	margin-left: 15px;
	margin-right: auto;	
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 100%;
	text-decoration: none;
	color: white;
	font-size: 3em;
	transition: color .3s;	
}

#home-link:hover {
	color: #7CFF00;
}

.nav-links {
	white-space: nowrap; 	
	font-family: 'Fjalla One', sans-serif;	
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
	width: 15%;
	height: 100%;	
}

#contact-link {
	cursor: pointer;
}

.nav-links:hover {
	background-color: #B6B6B6; 
	color: #141414;
}

.nav-links p {
	font-size: 1.7em;
	transition: all .5s;
	margin: 0;
}

#dummy {
	margin-left: auto;	
}

.homes {
	display: flex;
	justify-content: center;
	align-items: center; 
	text-align: center;	
	width: 100%;
	height: 35em;	
	color: white;
	background-color: rgba(182, 182, 182, .3);
}

.homes h1 {	
	white-space: nowrap;
	font-family: 'Fjalla One', sans-serif;
	margin: 0;		
	font-size: 4.2em;
	z-index: 0		
}

.home-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 70em;
	background: white;
}

#top-divider {
	background-color: #DCDCDC;
	width: 100%;
	height: 2em;	
}

#bottom-divider {
	display: none;	
}

.images {
	display: flex;
	flex-direction: row;	
	width: 100%;
	height: 25%;
	margin: 35px 0 0 0;	
}

.image-overflow {	
	width: 25%;	
	height: 100%;	
	border-radius: 50%;
	overflow: hidden;
	margin: 0 20px 0 20px;
}

.image-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;	
	height: 100%;	
	border-radius: 50%;
	overflow: hidden;
	transition: all .3s;
	cursor: pointer;	
}

.image-container:after {	
	content: "";
	background-color: rgb(132, 132, 132);
	opacity: 0; 
	position: absolute;
	width: 100%;	
	height: 100%;
	top: 0;
	left: 0;	
	border-radius: 50%;
	overflow: hidden;
	transition: all .3s;	
}

.image-container h1 {
	opacity: 0;
	white-space: nowrap;
	font-family: 'Fjalla One', sans-serif;
	margin: 0;		
	font-size: 1.9em;
	color: white;
	transition: all .3s;
	z-index: 1;		
}

.image-container:hover {
	transform: scale(1.1);		
}

.image-container:hover h1{
	opacity: 1;		
}

.image-container:hover:after {
	opacity: .4;
}

#img1 {
	background: url("../images/home/byhuyen-406544-unsplash.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;	
}

#img2 {
	background-image: url("../images/home/joshua-ness-109299-unsplash.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#img3 {
	background-image: url("../images/home/naomi-hebert-188443-unsplash.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#img4 {
	background-image: url("../images/home/nick-karvounis-592488-unsplash.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.contact {	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 25em;
	background-color: #313030;	
}

.homes-text,.description,.header,.text {
/*	border: 1px solid black;*/
}

.homes-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 75%;	
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	color: #979797;	
	font-family: 'Fjalla One', sans-serif;	
	
}

.header {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;	
	width: 100%;
	height: 30%;
}

.text {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;	
	width: 100%;
	height: 70%;
}

.description h1 {
	white-space: nowrap;
	margin: 0;
	padding-left: 10%;	
	font-size: 3em;	
}

.description p {
	margin: 40px 0 0 0;
	padding: 0 25% 0 10%;	
	font-size: 1.7em;
	line-height: 1.7em;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	color: #979797;	
	font-family: 'Fjalla One', sans-serif;	
}

.list h1 {
	margin: 0;
	padding-left: 10%;
	font-size: 3em;	
}

.list ul {	
	margin: 40px 0 0 0;
	padding: 0 0 0 10%;
	list-style-type: none;
}

.list li {
	margin: 0 0 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.list p {	
	margin: 0;
	font-size: 1.7em;
}

.list i {
	color: #696969;
	font-size: 1.8em;
	margin: 0 8px 0 0;
}

.contact-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	height: 100%;	
}

.contact-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 100%;	
	list-style-type: none;
	/*border-bottom: 1px solid white;	*/
	padding-bottom: 20px;	
}

.contact-icon a{
	margin-right: 40px;
	margin-left: 40px;
	text-decoration: none;
	font-size: 3.5em;
	color: white;
}

#fb:hover a{
	color: #4267b2;
}

#email:hover a{
	color: yellow;
}

#phone:hover a{
	color: red;
}

.contact-wrap p{
	color: white;
	font-size: 1.2em;
	margin: 20px 0 50px 0;
}

#heart {
	color: red;
}

#opeezy {
	text-decoration: none;
	color: blue;
}

@media only screen and (max-width: 1145px) {
	#dummy {
		display: none;
	}
	
	#navbar {		
		width: 100%;
		height: 5em;
		margin: 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		z-index: 3;
	}

	.nav-links {
		display: none;
	}

	.drop-down {		
		margin: 0 15px 0 0;
	    padding: 0 8px 0 8px;	
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border: 3px solid white;
		border-radius: 10px;
		transition: all .5s;
		cursor: pointer;
	}

	.drop-down:hover {
		background-color: #B6B6B6; 	
	}

	.drop-down:hover .bar {
		background-color: #141414 
	}

	.bar {
		margin: 7% 0;	
		border-radius: 10px;	
		width: 100%;
		height: 10%;
		background-color: white;
	}

	.nav-drop-invis{
		height: 0;
		display: none;				
	}

	.drop-links-invis {
		height: 0;
		display: none;		
	}

	.nav-drop {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		height: 0;
		margin: 0;
		position: fixed;
		top: 5em;
		background: rgba(49, 48, 48, .8);
		z-index: 1;
		border-top: 1px solid white;		
	}

	.drop-links {
		font-family: 'Fjalla One', sans-serif;
		opacity: 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: white;
		width: 100%;
		height: 33.33%;
		font-size: 1.7em;
		text-decoration: none;
		padding-left: 10px;
		cursor: pointer;
		transition: all .5s;
	}

	.drop-links:hover {
		background: rgba(182, 182, 182, .8);
		color: #141414;
	}
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
	body {
		background-image: none;
	}	

	.homes {
		position: relative;
		background-image: url('../images/thirsty-turf-irrigation-27062-unsplash.jpg'); 
		background-size: cover;
		background-position: center center;
		z-index: 0;
	}

	.homes:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(182, 182, 182, .3); 
		z-index: 1;
	}	

	.homes h1 {				
		font-size: 2.65em;
		z-index: 2;		
	}

	.images {
		display: none;
	}

	.homes-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;			
	}

	.description {		
		width: 100%;
		height: 50%;		
	}

	.description h1 {		
		padding-left: 0;	
		font-size: 2.2em;	
	}

	.description p {
		margin: 0;
		padding: 0 9% 0 9%;	
		font-size: .8em;
		line-height: 1.7em;
		text-align: center;
}

	.header {
		display: flex;
		justify-content: center;
		align-items: center;	
		width: 100%;
		height: 50%;
	}

	.text {
		display: flex;
		justify-content: center;
		align-items: flex-start;	
		width: 100%;
		height: 50%;
	}

	.list {
		width: 100%;
		height: 50%;
	}

	.list h1 {
		margin: 0;
		padding: 0;
		font-size: 2.5em;	
	}

	.list ul {	
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.list li {
		margin: 0 0 65px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.list p {	
		margin: 0;
		font-size: 1.2em;
	}

	.list i {
		color: #696969;
		font-size: 1em;
		margin: 0 8px 0 0;
	}

	#top-divider {
		display: none;
	}

	#bottom-divider {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background-color: #DCDCDC;
		width: 100%;
		height: 2em;		
	}

	#bottom-divider h1 {
		font-size: 1.2em;
		margin-right: 15px;
	}

	.contact-icon a{
		margin-right: 25px;
		margin-left: 25px;		
	}
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
	.homes h1 {				
		font-size: 3.2em;		
	}

	.images {
		display: none;
	}

	.homes-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;			
	}

	.description {		
		width: 100%;
		height: 50%;		
	}

	.description h1 {		
		padding-left: 0;	
		font-size: 2.7em;	
	}

	.description p {
		margin: 0;
		padding: 0 9% 0 9%;	
		font-size: .9em;
		line-height: 1.7em;
		text-align: center;
}

	.header {
		display: flex;
		justify-content: center;
		align-items: center;	
		width: 100%;
		height: 50%;
	}

	.text {
		display: flex;
		justify-content: center;
		align-items: flex-start;	
		width: 100%;
		height: 50%;
	}

	.list {
		width: 100%;
		height: 50%;
	}

	.list h1 {
		margin: 0;
		padding: 0;
		font-size: 2.9em;	
	}

	.list ul {	
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.list li {
		margin: 0 0 65px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.list p {	
		margin: 0;
		font-size: 1.2em;
	}

	.list i {
		color: #696969;
		font-size: 1.2em;
		margin: 0 8px 0 0;
	}

	#top-divider {
		display: none;
	}

	#bottom-divider {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background-color: #DCDCDC;
		width: 100%;
		height: 2em;		
	}

	#bottom-divider h1 {
		font-size: 1.2em;
		margin-right: 15px;
	}

	.contact-icon a{
		margin-right: 35px;
		margin-left: 35px;		
	}
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
	.homes h1 {				
		font-size: 3.5em;		
	}

	.images {
		display: none;
	}

	.homes-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;			
	}

	.description {		
		width: 100%;
		height: 50%;		
	}

	.description h1 {		
		padding-left: 0;	
		font-size: 2.9em;	
	}

	.description p {
		margin: 0;
		padding: 0 9% 0 9%;	
		font-size: .95em;
		line-height: 1.7em;
		text-align: center;
}

	.header {
		display: flex;
		justify-content: center;
		align-items: center;	
		width: 100%;
		height: 50%;
	}

	.text {
		display: flex;
		justify-content: center;
		align-items: flex-start;	
		width: 100%;
		height: 50%;
	}

	.list {
		width: 100%;
		height: 50%;
	}

	.list h1 {
		margin: 0;
		padding: 0;
		font-size: 3em;	
	}

	.list ul {	
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.list li {
		margin: 0 0 65px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.list p {	
		margin: 0;
		font-size: 1.4em;
	}

	.list i {
		color: #696969;
		font-size: 1.4em;
		margin: 0 8px 0 0;
	}

	#top-divider {
		display: none;
	}

	#bottom-divider {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background-color: #DCDCDC;
		width: 100%;
		height: 2em;		
	}

	#bottom-divider h1 {
		font-size: 1.3em;
		margin-right: 15px;
	}

	.contact-icon a{
		margin-right: 35px;
		margin-left: 35px;		
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.images {
		display: flex;	
		flex-direction: row;		
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;		
		width: 100%;
		height: 25%;
		margin: 35px 0 0 0;	
	}

	.image-overflow {	
		width: 44%;	
		height: 50%;	
		border-radius: 15px;
		overflow: hidden;
		margin: 2%;		
	}

	.image-container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
		width: 100%;	
		height: 100%;	
		border-radius: 0;
		overflow: hidden;
		transition: all .3s;
		cursor: pointer;	
	}

	.image-container h1 {
		display: none;
	}

	.image-container:after {	
		display: none;	
	}

	.description h1 {		
		font-size: 2.5em;	
	}

	.description p {		
		font-size: 1.1em;		
	}

	.list h1 {		
		font-size: 2.5em;	
	}

	.list ul {		
		padding: 0 0 0 10%;	
	}

	.list p {		
		font-size: 1.1em;
	}

	.list i {		
		font-size: 1.5em;		
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1560px) {
	.description h1 {			
		font-size: 3em;	
	}

	.description p {			
		font-size: 1.3em;	
	}

	.list h1 {		
		font-size: 3em;	
	}	

	.list p {		
		font-size: 1.3em;
	}

	.list i {	
		font-size: 1.6em;		
	}
}


