body {
	-webkit-text-size-adjust: 100%;
	margin:0;	
	background-image: url('../images/thirsty-turf-irrigation-27062-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;	
}

#navbar {	
	margin: 0;	
	width: 100%;
	height: 5em;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	transition: all .5s;
}

.nav-drop-invis{
	display: none;
	height: 0;
}

.drop-links-invis{
	display: none;
	height: 0;
}

.navbar-full {	
	background: #313030;
	z-index: 1;	
}

.navbar-trans {
	background: #313030;
	opacity: .8;
}

#home-link {
	margin-left: 15px;
	margin-right: auto;	
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 100%;
	text-decoration: none;
	color: white;
	font-size: 3em;
	transition: color .3s;	
}

#home-link:hover {
	color: #7CFF00;
}

.nav-links {	
	white-space: nowrap; 	
	font-family: 'Fjalla One', sans-serif;	
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
	width: 15%;
	height: 100%;	
}

.nav-links:hover {
	background-color: #B6B6B6; 
	color: #141414;
}

.nav-links p {
	font-size: 1.7em;
	transition: all .5s;
	margin: 0;
}

#contact-link {
	cursor: pointer;
}

#dummy {
	margin-left: auto;	
}

.title {
	display: flex;
	justify-content: center;
	align-items: center; 
	text-align: center;	
	width: 100%;
	height: 35em;	
	color: white;
	background-color: rgba(182, 182, 182, .3);		
}

.caption {		
	white-space: nowrap;	
	width: 70%;
	height: 100%;
}

.head {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 50%;
	/*border-bottom: 1px solid white;*/
}

.learn {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 50%;	
}

.caption h1 {	
	font-family: 'Fjalla One', sans-serif;
	margin: 0;		
	font-size: 4.2em;
	z-index: 0		
}

.caption p {	
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 20px 0 0 0;	
	font-size: 1.7em;
}

.caption a {
	margin: 50px 0 0 0;	
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 1.5em;
	text-decoration: none;
	border:2px solid white;
	border-radius: 10px;	
	padding: .7em 1em .7em 1em;
	transition: all 1s;
	cursor: pointer;
}

.caption a:hover {
	color: #7CFF00;
	border-color: #7CFF00;	
}

.divider {
	width: 100%;
	height: 6em;
	background: #E3E3E3;	
}

.info {	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 35em;
	background: white; 
}

.info-caption {	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 100%;	
	color: #979797;	
	font-family: 'Fjalla One', sans-serif;		
}

.info-caption h1 {	
	white-space: nowrap;	
	font-size: 3.5em;		
}

.info-caption p {	
	text-align: center;
	font-size: 1.5em;
	padding: 0 5% 0 5%;		
}

.empty {
	width: 100%;
	height: 35em;
	background-color: rgba(182, 182, 182, .4);
}

.services {
	width: 100%;
	height: 35em;
	/*background: linear-gradient(to top, #248888 0%, #248888 0.27%, #40c27d 99.46%, #40c27d 100%);*/
	background: linear-gradient(to top, #76976A 0%, #76976A 0.27%, #5DB53C 99.46%, #5DB53C 100%);
}

.serve-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	font-family: 'Fjalla One', sans-serif;
	color: white;
}

.serve-box h1{
	white-space: nowrap;
	font-size: 3em;
	margin: 0;	
}

.serve-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	height: 50%;
}

.list-item {		
	/*border: 1px solid black;*/	
}

.list-item img{		
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.list-item p {
	white-space: nowrap;
	color: white;
	font-size: 2em;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
}

#spacer {
	width: 100%;
	height: 25em;
	background-color: rgba(182, 182, 182, .3);	
}

.testimonial {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 35em;
	background: white;
	margin: 0;
	padding: 0;
}

.arrows {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10%;
	height: 100%;
	font-size: 3em;
	cursor: pointer;
	color: #979797;
}

#arrow-left {	
}

#arrow-left:hover{
	color: black;	
}

#arrow-right {	
}

#arrow-right:hover{
	color: black;		 	
}

.text-view {	
	width: 80%;
	height: 100%;	
	overflow: hidden;
	display: inline-flex;	
}

.text-wrap {
	position: relative;
	flex-shrink: 0;	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-family: 'Fjalla One', sans-serif;
	color: #979797;	
	font-size: 2em;	
}

.indicators {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 2em;	
	background-color: #979797;		 
}

.indicator {	
	width: 25%;
	height: 100%;
	transition: all .5s;	  
}

.indicator-bg {
	background-color: #5DB53C;
}

.contact {	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 25em;
	background-color: #313030;	
}

.contact-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	height: 100%;	
}

.contact-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 100%;	
	list-style-type: none;		
	padding-bottom: 20px;	
}

.contact-icon a{
	margin-right: 40px;
	margin-left: 40px;
	text-decoration: none;
	font-size: 3.5em;
	color: white;
}

#fb:hover a{
	color: #4267b2;
}

#email:hover a{
	color: yellow;
}

#phone:hover a{
	color: red;
}

.contact-wrap p{
	color: white;
	font-size: 1.2em;
	margin: 20px 0 50px 0;
}

#heart {
	color: red;
}

#opeezy {
	text-decoration: none;
	color: blue;
}

@media only screen and (max-width: 1145px) {
	#dummy {
		display: none;
	}

	#navbar {		
		width: 100%;
		height: 5em;
		margin: 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		z-index: 3;
	}

	.nav-links {
		display: none;
	}

	.drop-down {		
		margin: 0 15px 0 0;
	    padding: 0 8px 0 8px;	
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		border: 3px solid white;
		border-radius: 10px;
		transition: all .5s;
		cursor: pointer;		
	}

	.drop-down:hover {
		background-color: #B6B6B6; 	
	}

	.drop-down:hover .bar {
		background-color: #141414 
	}

	.bar {	
		margin: 7% 0;
		border-radius: 10px;	
		width: 100%;
		height: 10%;
		background-color: white;
	}

	.nav-drop-invis{
		height: 0;
		display: none;				
	}

	.drop-links-invis {
		height: 0;
		display: none;		
	}

	.nav-drop {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		height: 0;
		margin: 0;
		position: fixed;
		top: 5em;
		background: rgba(49, 48, 48, .8);
		z-index: 1;
		border-top: 1px solid white;		
	}

	.drop-links {
		font-family: 'Fjalla One', sans-serif;
		opacity: 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: white;
		width: 100%;
		height: 33.33%;
		font-size: 1.7em;
		text-decoration: none;
		padding-left: 10px;
		cursor: pointer;
		transition: all .5s;
	}

	.drop-links:hover {
		background: rgba(182, 182, 182, .8);
		color: #141414;
	}
}


@media only screen and (min-width: 320px) and (max-width: 375px) {
	body {
		background-image: none;
	}

	#spacer {
		display: none;
	}

	.title {
		position: relative;
		background-image: url('../images/thirsty-turf-irrigation-27062-unsplash.jpg'); 
		background-size: cover;
		background-position: center center;
		z-index: 0;
	}

	.title:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(182, 182, 182, .3); 
		z-index: 1;
	}

	.caption {
		z-index: 2;
	}	

	.caption h1 {		
		font-size: 1.9em;			
	}

	.caption p {		
		font-size: 1em;
	}

	.info-caption h1 {
		font-size: 1.05em;
	}

	.info-caption p {
		font-size: .8em;
	}

	.serve-box h1 {
		font-size: 1.1em;
	}

	.list-item p {
		font-size: .65em;
	}

	.text-wrap {
		font-size: .7em;
	}

	.contact-icon a{
		margin-right: 25px;
		margin-left: 25px;		
	}
}

@media only screen and (min-width: 375px) and (max-width: 465px) {
	body {
		background-image: none;
	}

	#spacer {
		display: none;
	}

	.title {
		position: relative;
		background-image: url('../images/thirsty-turf-irrigation-27062-unsplash.jpg'); 
		background-size: cover;
		background-position: center center;
		z-index: 0;
	}

	.title:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(182, 182, 182, .3); 
		z-index: 1;
	}

	.caption {
		z-index: 2;
	}	

	.caption h1 {		
		font-size: 2.25em;			
	}

	.caption p {		
		font-size: 1.2em;
	}

	.info-caption h1 {
		font-size: 1.3em;
	}

	.info-caption p {
		font-size: 1.05em;
	}

	.serve-box h1 {
		font-size: 1.3em;
	}

	.list-item p {
		font-size: .78em;
	}

	.text-wrap {
		font-size: .9em;
	}

	.contact-icon a{
		margin-right: 30px;
		margin-left: 30px;		
	}
}

@media only screen and (min-width: 465px) and (max-width: 580px) {

	body {
		background-image: none;
	}

	#spacer {
		display: none;
	}

	.title {
		position: relative;
		background-image: url('../images/thirsty-turf-irrigation-27062-unsplash.jpg'); 
		background-size: cover;
		background-position: center center;
		z-index: 0;
	}

	.title:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(182, 182, 182, .3); 
		z-index: 1;
	}

	.caption {
		z-index: 2;
	}	
	.caption h1 {		
		font-size: 2.7em;			
	}

	.caption p {		
		font-size: 1.4em;
	}

	.info-caption h1 {
		font-size: 1.55em;
	}

	.info-caption p {
		font-size: 1.2em;
	}

	.serve-box h1 {
		font-size: 1.6em;
	}

	.list-item p {
		font-size: .95em;
	}

	.text-wrap {
		font-size: 1.1em;
	}

	.contact-icon a{
		margin-right: 35px;
		margin-left: 35px;		
	}
}

@media only screen and (min-width: 580px) and (max-width: 730px) {
	body {
		background-image: none;
	}

	#spacer {
		display: none;
	}

	.title {
		position: relative;
		background-image: url('../images/thirsty-turf-irrigation-27062-unsplash.jpg'); 
		background-size: cover;
		background-position: center center;
		z-index: 0;
	}

	.title:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(182, 182, 182, .3); 
		z-index: 1;
	}

	.caption {
		z-index: 2;
	}

	.caption h1 {		
		font-size: 3.4em;			
	}

	.caption p {		
		font-size: 1.7em;
	}

	.info-caption h1 {
		font-size: 2em;
	}

	.info-caption p {
		font-size: 1.5em;
	}

	.serve-box h1 {
		font-size: 2em;
	}

	.list-item p {
		font-size: 1.2em;
	}

	.text-wrap {
		font-size: 1.2em;
	}

	.contact-icon a{
		margin-right: 40px;
		margin-left: 40px;		
	}
}

@media only screen and (min-width: 730px) and (max-width: 900px) {
	.caption h1 {		
		font-size: 4.2em;			
	}

	.caption p {		
		font-size: 1.7em;
	}

	.info-caption h1 {
		font-size: 2.5em;
	}

	.info-caption p {
		font-size: 1.5em;
	}

	.serve-box h1 {
		font-size: 2.5em;
	}

	.list-item p {
		font-size: 1.5em;
	}

	.text-wrap {
		font-size: 1.5em;
	}

	.contact-icon a{
		margin-right: 40px;
		margin-left: 40px;		
	}
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
	.caption h1 {		
		font-size: 4.2em;			
	}

	.caption p {		
		font-size: 1.7em;
	}

	.info-caption h1 {
		font-size: 3em;
	}

	.info-caption p {
		font-size: 1.5em;
	}

	.serve-box h1 {
		font-size: 3em;
	}

	.list-item p {
		font-size: 2em;
	}

	.text-wrap {
		font-size: 1.8em;
	}

	.contact-icon a{
		margin-right: 40px;
		margin-left: 40px;		
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1000px) {
	.caption h1 {		
		font-size: 4.2em;			
	}

	.caption p {		
		font-size: 1.7em;
	}

	.info-caption h1 {
		font-size: 3.5em;
	}

	.info-caption p {
		font-size: 1.5em;
	}

	.serve-box h1 {
		font-size: 3em;
	}

	.list-item p {
		font-size: 2em;
	}

	.text-wrap {
		font-size: 2em;
	}

	.contact-icon a{
		margin-right: 40px;
		margin-left: 40px;		
	}
}











